<!DOCTYPE HTML>
<html>
<head>
  <title><%= "#{@user.fname} #{@user.lname}" %> | <%= @resume.title %></title>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,600italic'
  rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="print.css" media="all">
</head>
<body>
<section class="page-box">

  <header class="basic-info group">
    <h1 class="name"><%= "#{@user.fname} #{@user.lname}" %></h1>
    <ul class="contact">
      <li><%= @resume.email %></li>
      <li><%= @resume.title %></li>
      <li><%= @resume.phone %></li>
    <ul>
  </header>

  <section class="headline group">
    <h3>Headline</h3> <p><%= @resume.headline %></p>
  </section>

  <section class="education group">
    <h3>Education</h3>

    <ul class="educational-institutions">

      <% for edu_item in @resume.educations %>
        <li class="institution">
          <header class="group">
            <h4><%= edu_item.institution %></h4><h6> <%= edu_item.location %></h6> <h5><%= edu_item.time %></h5>
          </header>
          
          <ul class="education-list">
            <% for edu_point in edu_item.edu_points %>
              <li><%= edu_point.description %></li>
            <% end %>
          </ul>
        </li>

      <% end %>
    </ul>
  </section>

  <section class="skills-tech">
    <h3>Skills &amp Tech</h3>

    <div class="list-wrapper group">
    <ul>
      <li><strong>Ruby</strong></li>
      <li><strong>Rails</strong></li>
      <li><strong>RSpec</strong></li>
      <li><strong>Devise</strong></li>
    </ul>
    <ul>
      <li>Omniauth</li>
      <li>Paperclip</li>
      <li>Nokogiri</li>
      <li>Bootstrap</li>
    </ul>
    <ul>
      <li><strong>JavaScript</strong></li>
      <li><strong>Backbone</strong></li>
      <li><strong>jQuery</strong></li>
      <li><strong>AJAX</strong></li>
    </ul>
    <ul>
      <li>UJS</li>
      <li>Backbone-relational</strong></li>
      <li>jQueryUI</li>
      <li>Underscore</li>
    </ul>
    <ul>
      <li><strong>SQL</strong></li>
      <li><strong>HTML</strong></li>
      <li><strong>CSS</strong></li>
      <li><strong>SASS</strong></li>
    </ul>
    <ul>
      <li>MVC</li>
      <li>REST</li>
      <li>CRUD</li>
      <li>OOP</li>
    </ul>
    <ul>
      <li><strong>GitHub</strong></li>
      <li><strong>Heroku</strong></li>
      <li><strong>Amazon S3</strong></li>
      <li><strong>Pusher</strong></li>
    </ul>
  </div>
    <p id="practice-techniques"><strong>Practices/Techniques:</strong>
      Pair Programming, Version Control (Git), Test Driven Development
    </p>
  </section>

  <section class="projects group">
    <h3>Selected Projects</h3>

    <ul class="project-list">

      <% for project_item in @resume.projects %>
        <li class="project">
        <header class="group">
          <h4><strong><%= project_item.title %></strong> <em><%= project_item.subtitle %></em></h4>
          <h5><%= project_item.link %></h5>
        </header>

          <ul class="properties-list">
            <% for property in project_item.properties %>
              <li><%= property.description %></li>
            <% end %>
          </ul>        
        </li>

      <% end %>
    </ul>
  </section>

  <section class="selected-experience group">
    <h3>Selected Experience</h3>
    <ul class="work-experiences">

      <% for exp_item in @resume.experiences %>
        <li class="experience">
        <header class="group">
          <h4><%= exp_item.title %>, <em><%= exp_item.company %></em></h4><h6> <%= exp_item.location %></h6>
          <h5><%= exp_item.time %></h5>
        </header>

          <ul class="experience-list">
            <% for exp_point in exp_item.exp_points %>
              <li><%= exp_point.description %></li>
            <% end %>
          </ul>
        </li>

      <% end %>
    </ul>
  </section>


</section>
</body>

</html>